.single_signIn {
  width: 100% !important;
  height: 40px !important;
}

.single_signIn_google_button {
  width: 100% !important;
  height: 40px !important;
  background-color: #3479c2 !important;
  border: none !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
  color: white !important;
  cursor: pointer !important;
}

.single_signIn_facebook_button {
  width: 100% !important;
  height: 40px !important;
  background-color: #12234d !important;
  border: none !important;
  border-radius: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
  color: white !important;
  cursor: pointer !important;
}

.login_container {
  margin: auto;
  position: fixed;
  justify-content: center;
  margin: 2% 0% 0 31% !important
}

.signup_container {
  margin: auto;
  position: fixed;
  justify-content: center;
  margin: 3% 0% 0 22% !important;
}

.MuiButton-containedPrimary {
  background-color: #005b9a !important;
}

/* .signUp_container {
  margin: auto;
  position: fixed;
  justify-content: center;
  margin: 3% 0% 0 34% !important
} */

/* @media (min-width:375px) and (max-width: 425px) {

  .login_container {
    width: 100% !important;
  }

  .single_signIn_google_button {
    width: 290px !important;
  }

  .single_signIn_facebook_button {
    width: 290px !important;
  }

} */

/* @media (min-width:320px) and (max-width: 375px) {

  .login_container {
    width: 100% !important;
  }

  .single_signIn_google_button {
    width: 340px !important;
  }

  .single_signIn_facebook_button {
    width: 340px !important;
  }

} */
