.drag-drop-instructions {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.drag-drop-instructions h3 {
  color: var(--active-color);
}

.drag-drop-instructions h4 {
  color: var(--text-secondary-color);
}

.link-dialog {
  color: var(--active-color);
  cursor: pointer;
}

.DCMLocalPage_Button_SelectFiles {
  background-color: #005b9a !important;
  color: white !important;
  border: 1px solid !important;
  border-color: #005b9a !important;
}

.DCMLocalPage_Button_SelectFiles:hover {
  background-color: #ffffff !important;
  color: #005b9a !important;
  border: 1px solid !important;
  border-color: #005b9a !important;
}

.DCMLocalPage_Button_SelectFolders {
  color: white !important;
  background-color: #00a8cd !important;
  border: 1px solid !important;
  border-color: #00a8cd !important;
}

.DCMLocalPage_Button_SelectFolders:hover {
  color: #00a8cd !important;
  background-color: white !important;
  border: 1px solid !important;
  border-color: #00a8cd !important;
}

@media only screen and (max-width: 425px) {
  .DCMLocalPage_Button_SelectFiles {
    /* background-color: yellowgreen !important; */
    margin-right: 10px !important;
    margin-top: 10px !important;
    padding: 8px 24px !important;
  }

  .DCMLocalPage_Button_SelectFolders {
    margin-right: 19px !important;
    margin-top: 5px !important;
    padding: 8px 13px !important;

  }

  .DCMLocalPage_Button_FontSize {
    /* background-color: yellowgreen !important; */
    font-size: 12px !important;
  }



}
