.access-field-container
  margin-top: 2rem
  .field-label
    color: #202020
    font-size: 14px
    padding-bottom: 0.25rem
    font-weight: 600

  .access-field
    border-radius: 0.5rem
    background-color: #f3f3f3
    padding: 1.5rem 1rem
    margin-top: 0.5rem
    margin-bottom: 1rem

  .connect-btn-container
    display: flex
    justify-content: flex-end

    .connect-btn
      background: linear-gradient(to bottom, #0f8afb 0%, #3c40ef 100%);
      text-transform: uppercase;
      padding: 1rem 2rem;
      border: none;
      color: #fff;
      font-size: 1rem;
      border-radius: 0.5rem;
      cursor pointer


.upload-file-conatiner
  display: flex
  justify-content: center
  align-content: center
  flex-direction: column
  color: #202020
  text-align: center

.upload-btn-wrapper
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;

.btn
  border: 2px solid gray;
  color: gray;
  background-color: white;
  padding: 8px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;

.upload-btn-wrapper input[type=file]
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
