.ReactModal__Content
  background: #fff

.OHIFModal__header
  border-width: 1px
  border-color:#cecece;

  button
    color: #202020;
    font-weight: 600;

.TabComponents .TabComponents_tabHeader_selector
  border-bottom: 1px solid #cecece;

.HotkeysPreferences
    display: flex
    padding: 20px

    .hotkeyTable
      display: flex
      flex-direction: row
      flex-basis: 0
      flex-grow: 1.5

      .hotkeyColumn
        display: flex
        flex-direction: column
        flex-basis: 0
        flex-grow: 1.5
        color: #202020;

        .hotkeyHeader
          display: flex
          flex-direction: row
          margin-bottom: 10px
          font-weight: 600

          .headerItemText
            flex-basis: 0
            flex-grow: 1.5
            padding: 5px 15px 5px 0

        .hotkeyRow
          display: flex

          .wrapperHotkeyInput
            margin-bottom: 5px
            cursor: pointer
            display: flex
            flex-direction: column
            flex-basis: 0
            flex-grow: 1.5

          .hotkeyLabel
            padding: 5px 15px 5px 0
            text-align: right
            flex-basis: 0
            flex-grow: 1.5

          .stateError
            .preferencesInput
              background-color: var(--state-error)
