.UploadFilePageCancelButton {
  padding: 8px 40px 7px 40px !important;
  margin-right: 10px !important;
}

.UploadFilePageUploadButton {
  padding: 8px 40px 8px 40px !important;
}

.UploadFile_Div {
  width: 100% !important;
  padding-right: 32% !important;
  padding-left: 32% !important;
  margin-top: 30px !important;
}

.UploadFile_Card {
  padding-left: 6% !important;
  padding-right: 6% !important;
  padding-top: 30px !important;
  border: 1px solid #d1cfcf !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.upload-btn-wrapper:hover {
  border: 1px dashed #6b6a6a !important;
}


@media only screen and (max-width: 425px) {
  .UploadFile_Div {
    width: 100% !important;
    padding-right: 8% !important;
    padding-left: 8% !important;
    margin-top: 30px !important;
  }

  .UploadFilePageCancelButton {
    padding: 4px 10px 2px 10px !important;
    margin-right: 7px !important;
  }

  .UploadFilePageUploadButton {
    padding: 4px 10px 3px 10px !important;
  }

  /* Avatar in Mobile View */
  .MuiToolbar-gutters {
    padding-left: 16px !important;
    padding-right: 4% !important;
  }

}
