.closeIcon
  color: #202020

.footer
  display: flex
  flex-direction: row
  justify-content: space-between
  padding: 20px 20px 0 20px
  margin: 0 -20px
  border-top: 3px solid #cecece

  .btn-danger
    background-color:#d2cfcf
    min-width 80px
    border: none

  // .cancel-btn
  //   background-color:#d2cfcf !important

  // .confirm-btn
  //      background-color:#d2cfcf !important

  div
    .btn-default
      background-color:#d2cfcf
      min-width 80px
      border: none

    .btn-primary
      background: linear-gradient(to top, #0f8afb 0%, #3c40ef 100%)
      min-width 80px
      color: #fff
      border: none

    // .btn-confirm
    //   background: linear-gradient(to bottom, #0f8afb 0%, #3c40ef 100%);

    button:last-child
      margin-left: 10px
