.viewport-container {
  float: left;
  position: relative;
  border: var(--viewport-border-thickness) solid var(--ui-border-color);

  border: none !important;
}

.viewport-container.active {
  border: var(--viewport-border-thickness) solid var(--active-color);
}
