.study-list-container {
  width: 100% !important;
  padding: 0 1% 0 1% !important;
  /* position: absolute; */
  z-index: 2;
  background: #fff;
}

body {
  overflow-x: hidden;
}

.header-text {
  font-size: 35px;
  /* color: rgb(182, 182, 182); */
  color: #0a2142;
  text-align: left;
}

.study-list-container .filters label {
  font-size: 15px !important;
}

@media only screen and (max-width: 425px) {
  .Studylist_PageNumber {
    background-color: yellowgreen !important;
  }

  .pagination-area select {
    height: 30px;
    width: 80px;
  }

  .page-buttons ul.pagination-control li .prev-btn {
    font-size: 11px;
    width: 80px;
  }

  .page-buttons ul.pagination-control li button {
    font-size: 11px;
    width: 80px;
  }

  .pagination-area {
    display: flex;
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: normal !important;
    background-color: #e7e3e3;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.4rem 0.4rem 0.4rem;
    border-radius: 0.5rem;
    width: 111%;
  }

  .study-list-container {
    width: 75% !important;
    padding: 0 1% 0 0% !important;
    position: absolute;
    z-index: 2;
    background: #fff;
  }

  .header-text {
    font-size: 27px;
    color: rgb(182, 182, 182);
    text-align: left;
  }


}

@media only screen and (max-width: 375px) {
  .pagination-area {
    display: flex;
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: normal !important;
    background-color: #e7e3e3;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.4rem 0.3rem;
    border-radius: 0.5rem;
    width: 116%;
  }



}

@media only screen and (max-width: 320px) {

  .pagination-area {
    display: flex;
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: normal !important;
    background-color: #e7e3e3;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.4rem 0.5rem;
    border-radius: 0.5rem;
    width: 135%;
  }
}
