.study-list-container {
  width: 100% !important;
  padding: 0 1% 0 1% !important;
  /* position: absolute; */
  z-index: 2;
  background: #fff;
}

body {
  overflow-x: hidden;
}

.header-text {
  font-size: 35px;
  /* color: rgb(182, 182, 182); */
  color: #0a2142;
  text-align: left;
}

.pagination-area {
  display: flex;
  color: var(--text-secondary-color);
  font-size: 13px;
  font-weight: normal !important;
  background-color: #e7e3e3;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.pagination-area .form-group {
  margin-bottom: 0px;
}

.pagination-area .form-group .pagination-text {
  color: #4d4cfe;
  font-size: 0.9rem;
}

.study-list-container .filters label {
  font-size: 15px !important;
  color: #0a2142;
}

.study-list-container .filters label {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  min-width: 95px;
  margin: 0 auto;
  color: #202020;
  font-weight: 500;
  user-select: none;
  font-size: 1.25rem;
  padding: 0.65rem 0.3rem;
}

table.table>tbody tr {
  padding: 5px;
  background-color: #fff !important;
  color: #222;
  cursor: pointer;
}
table.table>tbody tr:hover {
  padding: 5px;
  background-color: rgb(215, 240, 249) !important;
  color: #222;
  cursor: pointer;
}

table.table.table--hoverable>tbody tr.no-hover:hover,
table.table.table--hoverable>tbody tr.no-hover:active,
table.table.table--hoverable>tbody tr.no-hover.active {
  background-color: #ddeeff;
}

.pagination-area select {
  margin: 0 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  color: #7d7d7d;
  outline: none;
  height: 38px;
  width: 90px;
  border: none;
  padding: 0 0.25rem;
}

.page-buttons ul.pagination-control li button {
  padding: 4px 8px;
  background: linear-gradient(to right, #1285fa 0%, #3cf 100%);
  border-color: var(--ui-gray);
  color: var(--ui-gray-darkest);
  color: #fff;
  text-decoration: none;
  border: none;
  min-width: 84px;
  padding: 0.5rem;
  font-weight: 600;
}

.page-buttons ul.pagination-control li.prev .page-link {
  background: #d2cfcf !important;
  color: #202020 !important;
}



@media only screen and (max-width: 425px) {
  .Studylist_PageNumber {
    background-color: yellowgreen !important;
  }

  .pagination-area select {
    height: 30px;
    width: 80px;
  }

  .page-buttons ul.pagination-control li .prev-btn {
    font-size: 11px;
    width: 80px;
  }

  .page-buttons ul.pagination-control li button {
    font-size: 11px;
    width: 80px;
  }

  .pagination-area {
    display: flex;
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: normal !important;
    background-color: #e7e3e3;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.4rem 0.4rem 0.4rem;
    border-radius: 0.5rem;
    width: 111%;
  }

  .study-list-container {
    width: 75% !important;
    padding: 0 1% 0 0% !important;
    position: absolute;
    z-index: 2;
    background: #fff;
  }

  .header-text {
    font-size: 27px;
    color: rgb(182, 182, 182);
    text-align: left;
  }


}

@media only screen and (max-width: 375px) {
  .pagination-area {
    display: flex;
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: normal !important;
    background-color: #e7e3e3;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.4rem 0.3rem;
    border-radius: 0.5rem;
    width: 116%;
  }



}

@media only screen and (max-width: 320px) {

  .pagination-area {
    display: flex;
    color: var(--text-secondary-color);
    font-size: 12px;
    font-weight: normal !important;
    background-color: #e7e3e3;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.5rem 0.4rem 0.5rem;
    border-radius: 0.5rem;
    width: 135%;
  }
}
