/* Viewer Route */
.entry-header {
  /* padding: 10px 15px; */
  height: var(--top-bar-height);
  height: auto;

  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-box {
  display: inline-block;
  position: relative;

  display: flex;
  align-items: center;
  margin: 0;
}

.header-brand {
  text-decoration: none;
  /* height: 30px; */
  height: auto;
  float: left;
  clear: both;
}

/* Home Page */
.entry-header.header-big {
  display: flex !important;
  justify-content: space-between;
  align-items: center;

  background: #ffffff;
  /* background: rgba(21, 25, 30, 0.7); */
  /* padding: 35px var(--study-list-padding); */
  padding: 1.25rem var(--study-list-padding);
  height: auto;
  display: inline-block;
  width: 100%;

  padding: 0;
}

.entry-header.header-big .header-brand {
  height: 50px;
  padding: 0;
}

.entry-header.header-big .header-logo-image {
  height: 44px;
  width: 125px;
}

.entry-header.header-big .header-logo-text {
  width: 474px;
  height: auto;
}

/** OTHER STYLES **/

.dd-item {
  width: 100%;
}

.header-viewerLink {
  float: left;
}

.header-logo-image {
  fill: transparent;
  height: 100%;
  margin: 0 8px 0 0;
  width: 110px;
  float: left;
}

.header-btn {
  color: var(--text-secondary-color);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  color: #4d4cfe;
  font-size: 1rem;
  text-transform: capitalize;
}

.header-studyListLinkSection {
  /* border-left: var(--ui-border-thickness) solid var(--ui-border-color); */
  margin: 5px 0 0 30px;
  /* padding: 0 0 0 10px; */
  display: inline-block;
  color: #202020;
  border-bottom: 3px solid #3153f3;
  text-transform: uppercase;
  font-size: 1rem;
  padding-bottom: 2px;
}

.header-menu {
  display: flex;
  align-items: flex-end;

  color: var(--text-primary-color);
  float: right;
  padding: 4px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
  /* margin-right: 10px; */

  background: linear-gradient(to bottom, #0f8afb 0%, #3c40ef 100%);
  color: #fff;
  padding: 0.5rem;
  min-height: 50px;
}

.dd-menu {
  margin: 0;
}

.entry-header.header-big .header-menu {
  margin-right: 0;
}

.header-menu .research-use {
  float: left;
  font-size: 1rem;
  /* font-size: 13px; */
  font-weight: 700;
  color: #222222;
  margin-right: 1rem;
}

.notification-bar {
  display: none;
  position: absolute;
  height: 20px;
  line-height: 20px;
  width: 100%;
  background-color: #91b9cd;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .entry-header,
  .entry-header.header-big {
    /* padding: 30px 15px 10px 15px; */
  }

  .entry-header.header-big .header-logo-image {
    margin: 0 10px 0 0;
    width: 125px;
  }

  .entry-header.header-big .header-logo-text {
    width: 40%;
  }

  /* Toggle Notification Bar */
  .notification-bar {
    display: block;
  }

  .header-menu .research-use {
    display: none;
  }
}

.setting-icon {
  width: 28px;
  height: 28px;
}

.align-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.import-btn {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2rem;

  background: none;
  border: none;
  cursor: pointer;
  color: #202020;

  margin-right: 0.5rem;
}

.import-icon {
  width: 22px;
  height: 22px;
  margin-right: 0.5rem;
}

.cloud-upload-icon {
  width: 22px;
  height: 22px;
  margin-right: 0.5rem;
}

.import-btn input[type='file'] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
